<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Welcome to hashgator</h1>
	</div>
	<div class="panel-body">
		<h2>New UI</h2>
		<p>We are extremely excited to present the new, and dramatically 
			improved, hashgator! We've stepped up our game in several areas.
			Most notably is the improved design of the UI. The user experience
			remains the same, but we think hashgator is now much more pleasing 
			to the eye.</p>

		<h2>A New Way of Displaying Data</h2>
		<p>We've put a lot of hard work into processing the data
			that we get back from the networks we aggregate. Since we aim to
			expose you to interesting content from across social networks,
			we've taken efforts to make sure we're presenting the content in
			a meaningful way.</p>

		<h2>New Features Faster</h2>
		<p>We've completely redesigned our codebase for maintainability. This
			means you can expect us to crank out new features at a much faster
			pace than in the past!</p>

		<h2>New Features</h2>
		<p>We're excited to announce one of our most exciting recent
			feature additions, <strong>Related Tags</strong>! With related
			tags, you'll see a list of suggested tags that relate to what
			you're currently looking at. This, like many of our features, is
			aimed at allowing you to continue to discover new content.</p>

		<h2>Upcoming Features</h2>
		<p>Here's what we have planned for the future:
			<dl>
				<dt>Event Pages</dt>
				<dd>One of the coolest things people use hashgator for is 
					following live events. We think this is an excellent use 
					of the platform. So to cater to this, we will provide 
					links directly to popular events as they happen.</dd>
				<dt>Tag Collections</dt>
				<dd>Being able to follow one tag across several networks is
					great. Being able combine several tags into a highly 
					customized search? That's powerful. We look forward to 
					bringing this to you in the near future.</dd>
				<dt>User Accounts</dt>
				<dd>Take your tags with you on any device, upvote tiles, 
					customize your feeds so you see exactly what you're 
					interested in. User accounts will allow you to do this 
					and much more.</dd>
			</dl>
		We are also always open to suggestions for new features. So feel free
		to tweet us <a href="http://twitter.com/hashgator" target="_blank">
		@hashgator</a>!

		<h2>Missing Features</h2>
		<p>Because of the major overhaul to our codebase, some features have 
			not yet been reimplemented. You'll notice the refresh button and 
			the network filters are missing. You can expect the network 
			filters to be up soon. As for the refresh button, we will be 
			replacing that with infinite scrolling so you'll never have to 
			stop browsing!</p>
		<p>One big thing you'll notice missing is the <strong>Twitter 
			Feed</strong>. Twitter has made some major changes to their API.
			All requests to the Twitter API have to now be authorized. Because
			of this, client-side requests are no longer accepted. Not to worry,
			we're working on getting the Twitter Feed back ASAP!</p>
	</div>
</div>