<div class="panel panel-default">
	<div class="panel-heading">
		<h1 id="hash-header">#<%=title%></h1>
	</div>
	<div id="feed" class="panel-body">
		<% _.each(tiles, function(tile) { %>
			<div class="tile col-lg-6 col-md-6 col-sm-1">
				<div class="panel panel-default">

					<div class="panel-heading">
						<a target="_blank" href="<%=tile.get('url')%>">
							<%=tile.get('header')%>
						</a>
					</div>

					<div class="panel-body">
						<% if(tile.get('title')) { %>
							<h4><%=tile.get('title')%></h4>
						<% } %>
						<% if(tile.get('img')) { %>
							<a target="_blank" href="<%=tile.get('img')%>">
								<img src="<%=tile.get('img')%>" />
							</a>
						<% } else { %>
							<%=tile.get('body')%>
						<% } %>
					</div>

					<div class="panel-footer">
						<% if(tile.get('tags')) { %>
							<span class="glyphicon glyphicon-tags"></span>
							&nbsp;
							<% for(var i = 0; i < tile.get('tags').length; i++) {
								var tag = tile.get('tags')[i];
								stripped = tag.replace(/\s/g, "").replace(/\W/g, "");
								if(stripped) {
									if(i === tile.get('tags').length - 1) { %>
										<a href="#/hash/<%=tag.replace(/\s/g, "").replace(/\W/g, "")%>"><%=tag.replace(/\s/g, "").replace(/\W/g, "")%></a>
									<% } else { %>
										<a href="#/hash/<%=tag.replace(/\s/g, "").replace(/\W/g, "")%>"><%=tag.replace(/\s/g, "").replace(/\W/g, "")%></a>,
									<% } %>
								<% } %>
							<% }; %>
						<% } %>
					</div>

				</div>
			</div>
		<% }); %>
	</div>
</div>