<div class="panel panel-default">
	<div class="panel-heading">
		<h1 id="hash-header">#<%=title%></h1>
	</div>
	<div id="feed" class="panel-body">
		<div id="new-post-alert-container" class="stamp col-lg-12 col-md-12">
			<div class="panel panel-default">
				<div id="new-post-alert" class="panel-body">
				</div>
			</div>
		</div>
		<% _.each(tiles, function(tile) { %>
			<% if(tile.get('img') || tile.get('body')) { %>
				<div class="tile col-lg-6 col-md-6">
					<div class="panel panel-default">

						<div class="panel-heading">
							<a target="_blank" href="<%=tile.get('url')%>">
								<%=tile.get('header')%> <small class="glyphicon glyphicon-new-window"></small>
							</a>
							<p class="pull-right">
								<% switch(tile.get('src')) {
									case 'google': %>
										<a href="<%=tile.get('url')%>" 
											rel="publisher" target="_top" style="text-decoration:none;">
											<img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
										</a>
										<% break;
									case 'tumblr': %>
										<a href="<%=tile.get('url')%>" target="_blank">
											<img src="http://platform.tumblr.com/v1/share_4.png" alt="Tumblr" style="
											border:0;width:16px;height:16px;"/>
										</a>
										<% break;
								} %>
							</p>
						</div>

						<div class="panel-body">
							<% if(tile.get('title')) { %>
								<h4><a target="_blank" href="<%=tile.get('url')%>">
									<%=tile.get('title')%>
								</a></h4>
							<% } %>

							<% if(tile.get('img')) { %>
								<% if(tile.get('img') instanceof Array) {
									_.each(tile.get('img'), function(tn) { %>
										<a target="_blank" href="<%=tile.get('url')%>">
											<img src="<%=tn.image.url%>" />
										</a>
									<% }); %>
								<% } else { %>
									<a target="_blank" href="<%=tile.get('url')%>">
										<img src="<%=tile.get('img')%>" />
									</a>
								<% } %>
							<% } %>

							<% if(tile.get('body')) { %>
								<p><%=tile.get('body')%></p>
							<% } %>
						</div>

						<% if(tile.get('tagsString')) { %>
							<div class="panel-footer">
								<span class="glyphicon glyphicon-tags"></span>
								&nbsp;
								<%=tile.get('tagsString')%>
							</div>
						<% } %>

					</div>
				</div>
			<% } %>
		<% }); %>
	</div>
	<div class="panel-footer">
		<h4><span class="glyphicon glyphicon-tags"></span> &nbsp;Like #<%=title%>? Check these tags out!</h4>
		<p><%=popularTags%></p>
	</div>
</div>